<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiawang.web.platform.userCenter.dao.PencraftGameMapper" >
  <resultMap id="BaseResultMap" type="com.yijiawang.web.platform.userCenter.po.PencraftGame" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_game_id" property="userGameId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="user_intro" property="userIntro" jdbcType="VARCHAR" />
    <result column="works_name" property="worksName" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yijiawang.web.platform.userCenter.po.PencraftGame" extends="BaseResultMap" >
    <result column="translation" property="translation" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, user_id, user_game_id, user_name, user_tel, user_intro, works_name, 
    creat_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    translation
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pencraft_game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pencraft_game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yijiawang.web.platform.userCenter.po.PencraftGame" >
    insert into pencraft_game (id, open_id, user_id, 
      user_game_id, user_name, user_tel, 
      user_intro, works_name, creat_time, 
      update_time, translation)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userGameId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR}, 
      #{userIntro,jdbcType=VARCHAR}, #{worksName,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{translation,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yijiawang.web.platform.userCenter.po.PencraftGame" >
    insert into pencraft_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userGameId != null" >
        user_game_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userTel != null" >
        user_tel,
      </if>
      <if test="userIntro != null" >
        user_intro,
      </if>
      <if test="worksName != null" >
        works_name,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="translation != null" >
        translation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userGameId != null" >
        #{userGameId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userIntro != null" >
        #{userIntro,jdbcType=VARCHAR},
      </if>
      <if test="worksName != null" >
        #{worksName,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="translation != null" >
        #{translation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yijiawang.web.platform.userCenter.po.PencraftGame" >
    update pencraft_game
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userGameId != null" >
        user_game_id = #{userGameId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userIntro != null" >
        user_intro = #{userIntro,jdbcType=VARCHAR},
      </if>
      <if test="worksName != null" >
        works_name = #{worksName,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="translation != null" >
        translation = #{translation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yijiawang.web.platform.userCenter.po.PencraftGame" >
    update pencraft_game
    set open_id = #{openId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_game_id = #{userGameId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_intro = #{userIntro,jdbcType=VARCHAR},
      works_name = #{worksName,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      translation = #{translation,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yijiawang.web.platform.userCenter.po.PencraftGame" >
    update pencraft_game
    set open_id = #{openId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_game_id = #{userGameId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_intro = #{userIntro,jdbcType=VARCHAR},
      works_name = #{worksName,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>