<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiawang.web.platform.userCenter.dao.UserCardMapper" >
  <resultMap id="BaseResultMap" type="com.yijiawang.web.platform.userCenter.po.UserCard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="certif_tp" property="certifTp" jdbcType="VARCHAR" />
    <result column="certif_id" property="certifId" jdbcType="VARCHAR" />
    <result column="acc_name" property="accName" jdbcType="VARCHAR" />
    <result column="acc_no" property="accNo" jdbcType="VARCHAR" />
    <result column="pay_card_type_code" property="payCardTypeCode" jdbcType="VARCHAR" />
    <result column="pay_card_type" property="payCardType" jdbcType="VARCHAR" />
    <result column="pay_card_issue_code" property="payCardIssueCode" jdbcType="VARCHAR" />
    <result column="pay_card_issue_name" property="payCardIssueName" jdbcType="VARCHAR" />
    <result column="pay_card_issue_icon" property="payCardIssueIcon" jdbcType="VARCHAR" />
    <result column="open_bank" property="openBank" jdbcType="VARCHAR" />
    <result column="prov" property="prov" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, certif_tp, certif_id, acc_name, acc_no, pay_card_type_code, pay_card_type, 
    pay_card_issue_code, pay_card_issue_name, pay_card_issue_icon, open_bank, prov, city, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_card
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yijiawang.web.platform.userCenter.po.UserCard" >
    insert into user_card (id, user_id, certif_tp, 
      certif_id, acc_name, acc_no, 
      pay_card_type_code, pay_card_type, pay_card_issue_code, 
      pay_card_issue_name, pay_card_issue_icon, open_bank, 
      prov, city, status)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{certifTp,jdbcType=VARCHAR}, 
      #{certifId,jdbcType=VARCHAR}, #{accName,jdbcType=VARCHAR}, #{accNo,jdbcType=VARCHAR}, 
      #{payCardTypeCode,jdbcType=VARCHAR}, #{payCardType,jdbcType=VARCHAR}, #{payCardIssueCode,jdbcType=VARCHAR}, 
      #{payCardIssueName,jdbcType=VARCHAR}, #{payCardIssueIcon,jdbcType=VARCHAR}, #{openBank,jdbcType=VARCHAR}, 
      #{prov,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yijiawang.web.platform.userCenter.po.UserCard" >
    insert into user_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="certifTp != null" >
        certif_tp,
      </if>
      <if test="certifId != null" >
        certif_id,
      </if>
      <if test="accName != null" >
        acc_name,
      </if>
      <if test="accNo != null" >
        acc_no,
      </if>
      <if test="payCardTypeCode != null" >
        pay_card_type_code,
      </if>
      <if test="payCardType != null" >
        pay_card_type,
      </if>
      <if test="payCardIssueCode != null" >
        pay_card_issue_code,
      </if>
      <if test="payCardIssueName != null" >
        pay_card_issue_name,
      </if>
      <if test="payCardIssueIcon != null" >
        pay_card_issue_icon,
      </if>
      <if test="openBank != null" >
        open_bank,
      </if>
      <if test="prov != null" >
        prov,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="certifTp != null" >
        #{certifTp,jdbcType=VARCHAR},
      </if>
      <if test="certifId != null" >
        #{certifId,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="payCardTypeCode != null" >
        #{payCardTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="payCardType != null" >
        #{payCardType,jdbcType=VARCHAR},
      </if>
      <if test="payCardIssueCode != null" >
        #{payCardIssueCode,jdbcType=VARCHAR},
      </if>
      <if test="payCardIssueName != null" >
        #{payCardIssueName,jdbcType=VARCHAR},
      </if>
      <if test="payCardIssueIcon != null" >
        #{payCardIssueIcon,jdbcType=VARCHAR},
      </if>
      <if test="openBank != null" >
        #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="prov != null" >
        #{prov,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yijiawang.web.platform.userCenter.po.UserCard" >
    update user_card
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="certifTp != null" >
        certif_tp = #{certifTp,jdbcType=VARCHAR},
      </if>
      <if test="certifId != null" >
        certif_id = #{certifId,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        acc_name = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        acc_no = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="payCardTypeCode != null" >
        pay_card_type_code = #{payCardTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="payCardType != null" >
        pay_card_type = #{payCardType,jdbcType=VARCHAR},
      </if>
      <if test="payCardIssueCode != null" >
        pay_card_issue_code = #{payCardIssueCode,jdbcType=VARCHAR},
      </if>
      <if test="payCardIssueName != null" >
        pay_card_issue_name = #{payCardIssueName,jdbcType=VARCHAR},
      </if>
      <if test="payCardIssueIcon != null" >
        pay_card_issue_icon = #{payCardIssueIcon,jdbcType=VARCHAR},
      </if>
      <if test="openBank != null" >
        open_bank = #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="prov != null" >
        prov = #{prov,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yijiawang.web.platform.userCenter.po.UserCard" >
    update user_card
    set user_id = #{userId,jdbcType=VARCHAR},
      certif_tp = #{certifTp,jdbcType=VARCHAR},
      certif_id = #{certifId,jdbcType=VARCHAR},
      acc_name = #{accName,jdbcType=VARCHAR},
      acc_no = #{accNo,jdbcType=VARCHAR},
      pay_card_type_code = #{payCardTypeCode,jdbcType=VARCHAR},
      pay_card_type = #{payCardType,jdbcType=VARCHAR},
      pay_card_issue_code = #{payCardIssueCode,jdbcType=VARCHAR},
      pay_card_issue_name = #{payCardIssueName,jdbcType=VARCHAR},
      pay_card_issue_icon = #{payCardIssueIcon,jdbcType=VARCHAR},
      open_bank = #{openBank,jdbcType=VARCHAR},
      prov = #{prov,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>